header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1em 1em;
    height: 5em;
    font-family: Inter Regular;
    font-weight: lighter;
    font-size: 0.8rem;
}

.header__menu {
    display: inline-block;
    align-items: center;
    height: 100%;  
}

.header__menu_burguer {
    background-color: transparent;
    border: none;
    width: 100%;
    align-items: center;
    margin-top: 1em;
}

.header__menu_itens {
    display: none;
    text-align: end;
    position: absolute;
    top: 5em;
    right: 1.3rem;
    background-color: var(--branco);
}

.header__menu_itens.ativo {
    display: flex;
    flex-direction: column;
    gap: 0.7rem
}

.header__menu--item {
    text-decoration: none;
    color: var(--cinza-escuro);
    margin-bottom: 2rem;
}

.header__menu--button {
    background-color: var(--cor-primaria);
    padding: 0.4rem 0.3rem;
    width: 100%;
    color: var(--branco);
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__menu--icon-seta {
    width: 1.2rem;
    margin-left: 20%;
}

@media screen and (min-width: 700px) {
    header {
        margin: 0.1em 2em;
    }

    .header__logo img{
        width: 15vw;
    }

    .header__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .header__menu_itens {
        position: static;
        display: flex;
        gap: 1.3rem;
        align-items: center;
        justify-content: flex-end;
        width: 95%;
      }

    .header__menu--item {
        text-decoration: none;
        color: var(--cinza-escuro);
        margin-bottom: 0;
        display: flex;
        font-size: 0.7rem;
        cursor:pointer;
    }

    .header__menu_itens li:first-child {
        margin-right: 3%;
    }

    .header__menu_burguer {
        display: none;
    }

    .header__menu--button {
        padding: 0.4rem 0.6rem;
        border-radius: 4px;
        justify-content: center;
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1012px) {
    header {
        margin: 0.1em 10em;
    }

    .header__logo img{
        width: 12vw;
    }

    .header__menu--item {
        font-size: 0.8rem;
    }

    .header__menu--button {
        font-size: 0.8rem;
    }
}


