@import url(menu.css);

@font-face {
    font-family: Inter Medium;
    src: url(/fonts/Inter-Medium.otf);
}

:root {
    --preto: #263238;
    --cinza-escuro: #4D4D4D;
    --cinza-medio: #717171;
    --cinza-claro: #89939E;
    --cinza-azulado: #ABBED1;
    --prata: #F5F7FA;
    --branco: #FFFFFF;
    --cor-primaria: #4CAF4F;
    --cor-secundaria: #263238;
    --info: #2194F3;
}

* {
    font-size: 1rem;
    font-family: Inter Medium;
}